/* jellyfish theme 0.0.0*/

$theme-font-serif:"museo-slab",serif; 
$theme-font-sans-serif:"proxima-nova-soft",sans-serif; 
$theme-font-size: 18px;

$theme-dark-color: #000;
$theme-light-color: #fff;
$transparent: transparent;

@import
	"../../bower_components/normalize-css/normalize",
	"../../bower_components/foundation/scss/foundation",
    "../../vendors/swipebox-master/scss/swipebox",
    "../../bower_components/font-awesome/scss/font-awesome",
    "../../bower_components/sass-burger/burger",
    "../vendors/fullpage",
    "../helpers/helpers",
	"../base/config-colors",
    "../base/config-text",
    "../base/body",
    "../base/links",
    "../base/text-global",
    "../base/preloader",
    "../base/buttons",
    "../base/footer",
    "../base/menu_top",
    "../base/burger",
    "../base/card",
    "../components/bio",
    "../components/hero",
    "../components/process",
    "../components/work",
    "../components/mailchimp",
    "../components/posts"
;
