

<div class="post-nav">

	<!--h4 class="row">
		<a href="#"><i class="fa fa-angle-left"></i></i></a>
	</h4>
	<h4 class="row text-right">
		<a href="#"><i class="fa fa-angle-left"></i></i></a>
		<a href="#"><i class="fa fa-th-large"></i></i></a>
		<a href="#"><i class="fa fa-angle-right"></i></i></a>
	</h4-->

	<!--ul class="inline-list text-right">
	  <li><a href="#" class="button">Default Button</a></li>
	  <li><a href="#"><a href="#" class="button">Default Button</a></a></li>
	  <li><a href="#">Link 3</a></li>
	  <li><a href="#">Link 4</a></li>
	  <li class="text-right"><a href="#"><i class="fa fa-angle-left"></i></i></a></li>
	</ul-->
  	<!--h6>category: {{ page.categories }} | role: {{ page.role }}  | client: {{ page.client }}
  	</h6-->
  	
  	<!--h6>
    	<span class="time">
	    	read time: 
	    	{% capture truncated_content %}
			  {{ page.content | truncatewords: 250 }}
				{% endcapture %}
				{% if page.content != truncated_content %}
				  {{ page.content | number_of_words | append: '.0' | divided_by:180 | append: 'min' }}
			{% endif %}
		</span>
	</h6-->
	
</div>
