{% for post in site.data.posts_info %}
{% for media in site.data.media %}
{% if post.page_id == page.post-id %}
{% if media.page_id == page.post-id %}
{% if media.type == "methods" %}		
<div class="card">
  	<div class="media">
		{% include grids/cards/card_post_image.html %}
    	<span class="title">{{ post.title }}</span>
  	</div>
  	<div class="action">
		  <a href='#'>{{ post.method_1 }}</a> |
		  <a href='#'>{{ post.method_2 }}</a> |
		  <a href='#'>{{ post.method_3 }}</a>
  	</div>
  	{% if post.client != %}
  	<div class="client">
  		<p>for {{ post.client }} {% if post.agency != %} at {{ post.agency }} {% endif %} </p>
	</div>
	{% endif %}
</div><!-- methods card -->
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}