{% for post in site.data.posts_info |limit: 5 %}
<div class="slide">
		<div class="small-12 small-centered medium-8 medium-centered large-7 large-centered columns">
			<div class="card">
				<div class="media">
		        	<a class="swipebox" href="{{ post.logo_img }}">
						<picture>
							<img
							sizes="(max-width: {{ site.img-max-width }})px, 100vw, {{ site.img-max-width }}px"
							srcset="
							{% for break in site.data.media_breakpoints %}
							{% if media.ratio == break.ratio and media.format == break.format %}
							{{ site.posts-imgs-content }}{{ break.width }}/{{ post.logo_img }} {{ break.width }}w,
							{% endif %}
							{% endfor %}"
							src="/lib/imgs/posts/content/{{ site.img-max-width }}/{{ post.logo_img }}"
							alt="{{ media.title }}">
						</picture>
					</a>
		        	<span class="title">{{ post.tagline }}</span>
		      	</div>
		      	<div class="content">
		        	<p>{{ post.tagline}}</p>
		      	</div>
			</div>
		</div>	  
</div>
{% endfor %}