<div class="row" style="max-width:1270px;">
	<div class="small-12 columns">
		<ul class="grid small-block-grid-1 medium-block-grid-2 large-block-grid-2">
		{% for post in site.posts |limit: 4 %}
		{% for info in site.data.posts_info %}
		{% for media in site.data.media %}
		{% if post.post-id != %}
		{% if post.post-id == info.page_id %}
		{% if post.post-id == media.page_id %}
		{% if media.type =="thumb" %}
			<li>
				<div class="card-cover">
					<div class="grid-media media">
						<a href="{{ post.url }}">
				        	<picture>
								<img
								sizes="(max-width: {{ site.img-max-width }})100vw, {{ site.img-max-width }}px"
								srcset="
								{% for break in site.data.media_breakpoints %}
								
								{{ site.posts-imgs-covers }}{{ break.width }}/{{ media.src }} {{ break.width }}w,
								{% endfor %}"
								src="{{ info.cover }}"
								alt="{{ info.title }}">
							</picture>
						</a>
			      	</div>
			      	<div class="content text-center">
			      		<h4>{{ info.title }}</h4>
			        	<p>{{ info.tagline | truncatewords:4}}</p>
			      	</div>
				</div>
				
			</li>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endif %}
		{% endfor %}
		{% endfor %}
		{% endfor %}
		</ul>
	</div>
</div>