
html { 
	font-size: $body-font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility; 
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
} 


body {
	font-family: $body-font;
    overflow: hidden; //js will change
    background: $body-bg;
}


// Side Bar


.main-container{
    padding-top: 5rem;
}

@media #{$large-up} { 

  .main-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    //overflow-x: hidden;
    width: 100%;
    padding-left: 20rem;
    padding-right: .5rem;
    padding-top: 1rem;
  }

  .side-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    position: fixed;
    width: 20rem;
    left: 0;
    top: 0;
    border-right: #eee solid 0.05rem;
    padding: 6rem 1.5rem 0 1rem;
    
    ul {
        list-style-type: none;
    }
    li{
        margin-top:1.3rem;
    }       
  }
}



// Split layout

.full-height{
	min-height:100vh;
}

#content{
    padding-top: 5rem;
    padding-bottom: 2rem; 
}

// teste split body :) 

.one {background: dodgerblue;}
.two {background: salmon;}

