<div class="section fp-auto-height" id="work"> 
	<div class="text-center">
		<h1>WORK</h1>
		<p><a href="/work/experience-design">Experience & Innovation</a> |  <a href="/work/creative-direction">Creative Direction</a> | <a href="/work/web-ui-design">Web + UI Design</a> | <a href="/work/graphic-design">Graphic Design</a>  </p>
		<br><br>	
	</div>

	<div class="small-12 columns">
		

	<div class="button-group filter-button-group text-center">
	  <button data-filter="*">Show All</button>
	  <button data-filter=".Experience">Experience & Innovation</button>
	  <button data-filter=".Creative_Direction">Creative Direction</button>
	  <button data-filter=".Design">Web + Graphic Design</button>
  	</div>

	<ul class="grid small-block-grid-1 medium-block-grid-2 large-block-grid-3">
	{% if site.paginate %}
	{% for post in paginator.posts %}
	{% for info in site.data.posts_info %}
	{% for media in site.data.media %}
	{% if post.post-id != %}
	{% if post.post-id == info.page_id %}
	{% if post.post-id == media.page_id %}
	{% if media.type =="thumb" %}
		<li class="{{ info.category_1 }} {{ info.category_2 }} {{ info.category_3 }}">
			<a href="{{ post.url }}">
			<div class="card"  style="background: {{ info.bg_color }};">
				<div class="grid-media media">
					<picture>
						<img
						sizes="(max-width: {{ site.img-max-width }}px)100vw, {{ site.img-max-width }}px"
						srcset="
						{% for break in site.data.media_breakpoints %}
						
						{{ site.posts-imgs-covers }}{{ break.width }}/{{ media.src }} {{ break.width }}w,
						{% endfor %}"
						src="{{ info.cover }}"
						alt="{{ info.title }}">
					</picture>
		      	</div>
		      	<div class="content">
		      		<h5 style="color: {{ info.text_color }}; opacity: 0.55;">{{ info.title }}</h5>
		        	<p style="color: {{ info.text_color }}">{{ info.tagline}}</p>
		      	</div>
			</div>
			</a>
		</li>
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	{% endfor %}
	{% endfor %}
	{% endfor %}
	{% endif %}
	</ul>
	</div>

	<div class="text-center">
{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
		<a href="{{ site.baseurl }}{{site.paginate_home}}" class="button"><i class="fa fa-angle-left"></i> PREV</a>
	{% else %}
		  <a class="newer-posts button" href="{{ site.baseurl }}{{site.paginate_link}}{{ paginator.previous_page }}"> <i class="fa fa-angle-left "></i> PREV</a>
	{% endif %}	
{% endif %}
{% if paginator.next_page %} 
 	<a class="older-posts button" href="{{ site.baseurl }}{{site.paginate_link}}{{ paginator.next_page }}/">NEXT <i class="fa fa-angle-right"></i></a>
{% endif %}
</div><!-- PAGINATION -->

</div>

