
<div class="section fp-auto-height" id="{{ site.section-process-url }}-steps-bar">
	<div class="{{ site.section-process-url }}-bar ">
		<div class="row fluid large-collapse medium-collapse small-collapse">
			{% for step in site.process-steps | limit: 6 %}
			<div class="small-6 medium-4 large-2 columns process-id-{{ step.id }}">
				<div class="box text-center process-icon-{{ step.id }}">
				</div>
				<p>{{ step.title }}</p>
			</div>
			{% endfor %}
		</div>	
	</div> <!-- process bar -->

</div>