<div class="section fp-auto-height">
	<div id="bio">
		<div class="row fluid large-collapse medium-collapse small-collapse" data-equalizer>
			<div class="small-12 medium-12 large-2 columns" data-equalizer-watch>
				<div class="row large-collapse medium-collapse small-collapse">
					<div class="small-12 medium-6 large-6 columns">
						{% include imgs/img-about-profile.html %}
						{% include imgs/img-about-card.html %}
					</div>	

					<div class="small-12 medium-6 large-6 columns txt-bio" style="background: #{{ site.txt-bio-bg }};" data-equalizer-watch>
						<div class="small-12 medium-12 large-12 columns v-center" itemscope itemtype="http://schema.org/Person">
							<div class="hide">
								<div itemscope itemtype="http://schema.org/Person">
									<a itemprop="url" href="{{ site.url }}">
										<div itemprop="name"><strong>{{ site.author }}</strong></div>
									</a>
									<div itemscope itemtype="http://schema.org/Organization">
										<span itemprop="name">{{ site.title }}</span>
									</div>
									<div itemprop="jobtitle">{{ site.job }}</div>
									<div itemprop="description">{{ site.description }}</div>
									<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
										<div>
											<span itemprop="addressLocality">{{ site.city }}</span>, 
											<span itemprop="addressRegion">{{ site.region }}</span>
										</div>
										<div itemprop="addressCountry">{{ site.country }}</div>
									</div>
									<div itemprop="email">{{ site.email }}</div>
								</div>
							</div>
							<p>
								{{ site.txt-bio }} <!-- txt bio -->
								<span class="hide-for-large-up">
									<br>
									{{ site.txt-bio-2 }} 
								</span>
								<br><br>
								<a href="{{ site.bio-btn-link }}" class="button large btn-outline-dark" target="blank" >{{ site.bio-btn-txt }} | <i class="fa fa-linkedin-square" aria-hidden="true"></i></a><!-- actions bio -->
							</p>
						</div> 
					</div>
				</div>			 
			</div><!--bio -->

			
		</div> <!-- Bio + Skill row fluid -->
	</div><!-- bio -->
</div><!--section-->
